@model IndexViewModel
@{
    ViewBag.Title = "Event Submission";
    Layout = "~/Views/Shared/NavBar.cshtml";

}
<!DOCTYPE html>
<html>

<head>
    <title>TigerTix: @ViewBag.Title</title>
</head>
<body>
    <h1>TigerTix Event Submission</h1>

    <form method="post">
        <label>Event Title:</label>
        <br />
        <input type="text" name="title" />
        <br />
        <br />
        <label>Description:</label>
        <br />
        <input type="text" name="desc" size=100 />
        <br />
        <br />
        <label>Date:</label>
        <br />
        <input type="date" name="date" />
        <br />
        <br />
        <label>Venue:</label>
        <br />
        <select name="venue" id="venues">
            <option value="memstad">Memorial Stadium</option>
            <option value="liljohn">Littlejohn Coliseum</option>
            <option value="kingstad">Doug Kingsmore Stadium</option>
            <option value="riggs">Riggs Field </option>
        </select>
        <br />
        <br />
        <br />
        <input type="submit" value="Add Event" />
    </form>
</body>
</html>