<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <style>
            #navbar_body {
                margin: 0;
                background-color: #D8D8D8;
            }

            #navbar_ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: #F56600;
            }

            #navbar_li {
              float: left;
            }

            #navbar_li a {
              display: block;
              color: #522D80;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-weight: bold;
              font-size: 18px;
            }

            .dropdown:hover .dropbtn, #navbar_li a:hover {
              background-color: #CC5100;
            }

            #default_div {
                margin: 10px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }

            table, th, td {
                border:1px solid black;
                border-collapse: collapse;
                padding: 5px;
            }
            .center {
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }

            .dropdown {
              float: left;
              overflow: hidden;
            }

            .dropdown .dropbtn {
              display: block;
              color: #522D80;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
              font-weight: bold;
              font-size: 18px;
              border: none;
              outline: none;
              background-color: inherit;
              font-family: inherit;
              margin: 0;
            }

            .dropdown-content {
              display: none;
              position: absolute;
              background-color: #f9f9f9;
              min-width: 160px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              z-index: 1;
            }

            .dropdown-content a {
              float: none;
              color: black;
              padding: 12px 16px;
              text-decoration: none;
              display: block;
              text-align: left;
            }

            .dropdown:hover .dropdown-content {
              display: block;

            }
        </style>
    </head>
    <body id="navbar_body">
        <ul id="navbar_ul">
            <li id="navbar_li"><a href="/App/#home">Home</a></li>
            <li id="navbar_li"><a href="/Events/Index">Events</a></li>
            <li id="navbar_li">
             <div class="dropdown">
                <button class="dropbtn">Admin 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="/Users/Index">Show Users</a>
                  <a href="/Tickets/Index">Show Tickets</a>
                </div>
              </div> 
            </li>
        </ul>

        <div id="default_div">
            @RenderBody()
        </div>

        <script>
            function getCookie(cname) {
                let name = cname + "=";
                let decodedCookie = decodeURIComponent(document.cookie);
                let ca = decodedCookie.split(';');
                for(let i = 0; i <ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
                }
                return "";
            }

            function loggedIn(){
                if (getCookie("userId") == ""){
                    return false
                } else {
                    return true
                }
            }

            let navbar = document.getElementById("navbar_ul")
            if (loggedIn()){
                let createEvent = document.createElement('li')
                createEvent.id = "navbar_li"
                let createEventLink = document.createElement('a')
                createEventLink.text = "Create/Edit Event"
                createEventLink.href = "/Events/Submit"
                createEvent.append(createEventLink)
                navbar.append(createEvent)

                let createTicket = document.createElement('li')
                createTicket.id = "navbar_li"
                let createTicketLink = document.createElement('a')
                createTicketLink.text = "Create/Edit Tickets"
                createTicketLink.href = "/Tickets/Submit"
                createTicket.append(createTicketLink)
                navbar.append(createTicket)

                let myTickets = document.createElement('li')
                myTickets.id = "navbar_li"
                let myTicketsLink = document.createElement('a')
                myTicketsLink.text = "My Tickets"
                myTicketsLink.href = "/Tickets/MyTickets"
                myTickets.append(myTicketsLink)
                navbar.append(myTickets)

                let logout = document.createElement('li')
                logout.id = "navbar_li"
                let logoutButton = document.createElement('button')
                logoutButton.innerHTML = "Logout"
                logoutButton.onclick = function () {
                    document.cookie = 'userId=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;'
                    location.reload()
                }
                logout.append(logoutButton)
                navbar.append(logout)
            } else {
                let login = document.createElement('li')
                login.id = "navbar_li"
                let loginLink = document.createElement('a')
                loginLink.text = "Login"
                loginLink.href = "/Users/Login"
                login.append(loginLink)
                navbar.append(login)
            }
        </script>
    </body>
</html>
