@model IndexViewModel
@{ 
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/NavBar.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>TigerTix: @ViewBag.Title</title>
</head>
    <body>
        <h1>Home Page</h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Clemson_Tigers_logo.svg/1200px-Clemson_Tigers_logo.svg.png" style="width: 500px;"/>
        <h3>Bhargav Patel</h3>
        <h3>Blue Hartwell</h3>
        <h3>Jeremy Marks</h3>
    </body>
</html>
