@model IndexViewModel
@{ 
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/NavBar.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>TigerTix: @ViewBag.Title</title>
</head>
    <body>
        <h1>Home Page</h1>
    </body>
</html>