@model IEnumerable<Event>
    <style>
    body {
        margin: 0;
        background-color:lavender;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    #Navli {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }

    div {
        margin: 10px;
    }
    </style>

<ul>
    <li id="Navli"><a href="/App/#home">Events</a></li>\
    <li id="Navli"><a href="/App/ShowEvents">Show Events</a></li>
    <li id="Navli"><a href="/App/Users">Users</a></li>
    <li id="Navli"><a href="/App/ShowUsers">Show Users</a></li>
</ul>

<h1>Users</h1>
<div>
    <u1>
        @foreach (var u in Model)
                {
                    <li>@u.title, @u.desc, @u.date</li>
                }
    </u1>
</div>